body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 76px;
  align-items: center;
}

.accent-logo {
  color: #4d5ae5;
}

.list-nav {
  gap: 40px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  display: flex;
}

.link-nav {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
}

.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

.contact {
  font-style: normal;
  margin-left: auto;
}

.list-contact {
  display: flex;
  gap: 40px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  font-style: normal;
}

.link-contact {
  display: block;
  padding: 24px 0;
  color: #434455;
  text-decoration: none;
}

.link-contact:hover,
.link-contact:focus {
  color: #404bbf;
}

/* section Effective Solutions for Your Business */
.solutions {
  background-color: #2e2f42;
  padding: 188px 0;
}

.solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.title {
  text-align: center;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 36px;
  text-align: center;

  padding-bottom: 72px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #fff;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.btn-order {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
}

.btn-order:hover,
.btn-order:focus {
  background-color: #404bbf;
}

/* section features */
.features {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-features {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 24px;
}

.card-features {
  width: calc((100% - 72px) / 4);
}

.title-card-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text-features {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* team */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.list-team {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 24px;
}

.card-content-team {
  padding: 32px 16px;
}
.card-team {
  background-color: #fff;
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.names-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.text-team {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* portfolio */

.portfolio {
  padding: 120px 0;
}

.card-portfolio {
  width: calc((100% - 48px) / 3);
}

.card-content {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.list-portfolio {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.title-catd-portfolio {
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
}

.text-portfolio {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.accent-footer {
  color: #4d5ae5;
}
